{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
  <div class="logo">
    <img src="{% static 'images/stepps-logo.svg' %}" alt="Logo" />
  </div>
  <form action="{% url 'users:login' %}" method="POST">{% csrf_token %}
    <div class="inputField">
      <label for="email">User</label>
      <input id="email" type="email" placeholder="E-mail adress" name="email">
    </div>

    <div class="inputField">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="********" name="password">
    </div>

    <a class="link-login">Forgot password?</a>
    <br>
    <button type="submit" value="Log In">Log In</button>
  </form>
</body>
</html>