<h1>Dashboard</h1>
<!-- <div class="dashboard-container"> -->
  <!-- <header> -->
    <!-- <img src="logo.png" alt="Logo" class="logo" /> -->
    <!-- <span class="user">User: {{ data.total_events }}</span> -->
    <!-- <button (click)="logout()">Logout</button> -->
  <!-- </header> -->

  <!-- <section class="indicators">
    <div class="indicator">
      <h3>Total People Passed</h3>
      <p>{{ data.daily_data.total_people_passed }}</p>
    </div>
    <div class="indicator">
      <h3>Current People</h3>
      <p>{{ data.daily_data.current_people }}</p>
    </div>
    <div class="indicator">
      <h3>Total Accidents</h3>
      <p>{{ data.daily_data.total_accidents }}</p>
    </div>
    <div class="indicator">
      <h3>Total Events</h3>
      <p>{{ data.daily_data.total_events }}</p>
    </div>
  </section> -->

  <!-- <section class="charts">
    <app-chart [data]="data.alerts_per_hour"></app-chart>
  </section> -->
<!-- </div> -->
