<div class="content">
  <div class="logo">
      <img src="images/stepps-logo.png" alt="Logo" />
  </div>
  <form (ngSubmit)="onSubmit()">
    <div class="inputField">
      <label for="email">User</label>
      <input id="email" type="email" placeholder="E-mail address" [(ngModel)]="email" name="email" required>
    </div>
  
    <div class="inputField">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="********" [(ngModel)]="password" name="password" required>
    </div>
  
    <a class="link-login">Forgot password?</a>
    <br>
    <button type="submit" value="Log In">Log In</button>
  </form>
</div>