body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.logo img {
  width: 200px;
  margin-bottom: 20px;
}

.inputField {
  margin-bottom: 15px;
  text-align: left;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
  color: #626262;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.link-login {
  display: block;
  margin-top: 10px;
  color: #008287;
  text-decoration: none;
}

.link-login:hover {
  text-decoration: underline;
}

button[type="submit"] {
  background-color: #008287;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #006C70;
}
